<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ffmpeg test</title>
</head>
<body>

<button id="runBtn">run</button>

<script type="module">
import { FFmpeg } from "/ffmpeg/index.js";

const ffmpeg = new FFmpeg();

document.getElementById("runBtn").onclick = async () => {
  try {
    console.log("loading...");

    await ffmpeg.load({
      coreURL: new URL("./../../ffmpeg/ffmpeg-core.js", import.meta.url).toString(),
      wasmURL: new URL("./../../ffmpeg/ffmpeg-core.wasm", import.meta.url).toString(),
      classWorkerURL: new URL("./../../ffmpeg/worker.js", import.meta.url).toString()
    });

    console.log("loaded");

    await ffmpeg.exec(["-version"]);

    console.log("ffmpeg works!");
  } catch (e) {
    console.error("ERROR:", e);
  }
};
</script>

</body>
</html>